@import url("https://fonts.googleapis.com/css?family=Playfair+Display:900|Raleway:500,700");

:root {
  --primary: navy;
  --secondary: rgb(37, 160, 231);
  --body: rgb(46, 61, 94);
  --header: rgb(155, 192, 226);
  --highlight: rgb(255, 255, 255);
}

html, body {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--highlight);
  color: var(--body);
  margin: 0px;
  background-image: url("../img/milkPattern.jpg");
  background-size: 245px 380px;
  background-position: right top;
  background-repeat: repeat-y;
}

h1 {
  font-family: "Playfair Display", serif;
  padding: 10px 20px 12px 20px;
  margin: 0px;
  color: var(--primary);
}

.logo {
  height: 40px;
}

h2 {
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 20px;
  margin: 0px;
}

p {
  padding: 6px 20px 6px 20px;
  margin: 0px;
}

table {
  background-color: var(--header);
  margin: 10px;
  padding: 5px;
  border: 1px solid var(--primary);
  border-spacing: 0px;
}
  
th {
  text-transform: uppercase;
  text-align: left;
  font-size: 0.75em;
  letter-spacing: 0.2em;
  padding: 5px 10px;
  background-color: var(--primary);
  color: var(--header);
}
  
td {
  padding: 5px 10px;
}

a {
  color: var(--header);
  letter-spacing: 1px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none;
}

nav {
  padding: 0.5em;
  background-color: var(--primary);
  font-weight: bold;
  color: var(--header);
}

nav a {
  text-transform: uppercase;
  padding: .5em;
}
nav a:hover {
  color: #fff;
}
 
.button {
  background-color: var(--header);
  color: var(--primary);
  border-color: var(--primary);
  border-radius: 300px;
  -webkit-transition: .3s background-color linear;
  -moz-transition: .3s background-color linear;
  -o-transition: .3s background-color linear;
  transition: .3s background-color linear;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--secondary);
  border-radius: 300px;
  -webkit-transition: .1s background-color linear;
  -moz-transition: .1s background-color linear;
  -o-transition: .1s background-color linear;
  transition: .1s background-color linear;
  color: var(--primary);
}
  
.offer {
  text-transform: uppercase;  
}

/* savings circle on right side */
.saving { 
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--highlight);
  color: var(--secondary);
  border-radius: 50%;
  border: solid var(--secondary);
  font-size: larger;
  height: 150px;
  width: 150px;
  margin: 2%;
  display: grid;
  text-align: center;
  align-items: center;
}

footer {
  background-color: var(--primary);
  color: var(--header);
  padding: 10px;
  width: 100%;
  position: fixed;
  bottom: 0;
}